@import url(../../fonts/fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Leckerli One', cursive;
    color: #1f1f1f;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header:not(.header-main){
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f1f1f;
    color: #ffffff;
}

.header-main{
    background: url(../img/index.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.header-main h1 {
    font-size: 40px;
}

.pagename {
    margin-left: 20px;
}

.menu-navigation{
    margin: 20px;
    font-weight: bold;
}

.menu-navigation ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 10px 20px;
}

.menu-navigation ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu-navigation a:hover {
    color: #4169E1;
}

.select{
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.select > option{
    color: #000000;
    border: none;
    outline: none;
    background: #ced2d3;
    cursor: pointer;
}

.container{ 
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
} 

.categories-navigation{
    margin: 50px 10px 10px 80px;
    max-width: 300px;
    background-color: #ffffff;
    padding: 20px 5px;
}

.subtitle{
    text-align: center;
    margin: 30px 0;
}

.list-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-categories li {
    list-style-type: none;
    list-style-type: none;
    margin: 10px 0;
    flex-basis: 90%;
}

.list-categories li:nth-child(even) {
    background-color: #212429;
}

.list-categories li:nth-child(odd) {
    background-color: #2c2f34;
}

.list-categories li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10px 0;
}

.list-categories li a:hover{
    color: #4169E1;
}

.list-categories li.selected{
    background-color: #FFA07A;
}

.all-categories{
    margin: auto;
    width: 80%;
}

.tags-category{
    list-style-type: none;
}

.tags-category:nth-child(even) a{
    background-color: #ffecd2;
}

.tags-category:nth-child(odd) a{
    background-color: #ff9a9e;
}

.card.category{
    cursor: pointer;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.all-items{
    margin: auto;
    width: 60%;
}

.all-items-index{
    margin: auto;
    width: 90%;
}

.container-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 5px 50px 5px;
}

.card{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    border-radius: 0 0 10px 10px;
    margin: 10px 10px 50px 10px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse; 
    max-width: 200px;
    min-height: 350px;
}

.card-content > h2 {
    margin: 5px 10px;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
}

.card-content > h4 {
    margin: 10px 10px 0 10px;
    padding: 0;
    font-size: .9rem;
    font-weight: normal;
    color: #EC7063; 
}

.card-content > img {
    object-fit: cover;
    object-position: top;
    width: 200px;
    height: 275px;
}

.card-content .card-tags{
    background-color: #f2f2f2;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: .8rem;
    align-self: flex-start;
    display: inline-block;
}

.book-tag{
    background-color: #f2f2f2;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 10px 10px 0;
}

.article-book{
    width: 90%;
    margin: 50px auto 50px auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.article-book > h1 {
    text-align: center;
}

.article-information{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;
}

.article-img{
    margin-bottom: 30px;
    margin-right: 40px;
    max-width: 250px;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.article-summary{
    flex-basis: 50%;
    margin-left: 30px;
}

.btn-show{
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    color: #EC7063;
    border: 2px solid #EC7063;
    margin-top: 10px;
    user-select: none;
    transition: color .2s, border-color .2s;

    font-family: inherit;
    background-color: transparent;
    border-radius: 0px;
    outline: none;
}

.btn-show:hover{
    color: #000000;
    border-color: #000000;
}

.btn-show:hover .arrow {
    border-color: #000000;
}

.arrow{
    transition: border-color .2s;
    border: solid #EC7063;
    margin-left: 10px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow.up{
    transform: rotate(-135deg);
    margin-top: 3px;
}

.arrow.down{
    margin-bottom: 3px;
    transform: rotate(45deg);
}

.container-information-book{
    flex-basis: 300px;
    margin: 0 0px 0 40px;
}

.details-book{
    margin-bottom: 15px;
}

.list-details-book{
    list-style-type: none;
}

.list-details-book > li, .cites-book > blockquote{
    border-top: 2px solid #2c2f34;
    padding: 5px 0;
    margin: 5px 0;
}

.cites-book{
    padding-top: 15px;
}

.cites-book > blockquote p{
    margin: 0;
}

.article-description{
    display: none;
}

.article-description.open{
    display: block;
    margin: 10px auto;
    max-width: 1200px;
}

.others-books{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 95%;
    overflow: hidden;
    margin: 0 auto 50px auto;
}

.others-books > h2{
    margin: 0 10px;
}

.others-books .slider{
    position: relative;
    display: flex;
    transform: translate3d(0, 0, 0);
    max-width: 80%;
    min-width: 300px;
    overflow: hidden;
    overflow-x: scroll;
}

.slider:after{
    content: '';
    flex: 0 0 5px;
}

footer{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: #ffffff;
}

footer p {
    margin: 3px 0;
}

.author{
    color: #EC7063;
}

.author:hover{
    color: #4169E1;
}

@media screen and (max-width: 1200px){
    .list-categories li {
        flex-basis: 40%;
        margin: 10px;
    }

    .categories-navigation{
        margin: auto;
        max-width: 100%;
    }

    .all-items{
        margin: auto;
        width: 90%;
    }

    .article-information{
        margin: 0;
        flex-wrap: wrap;
    }
    
    .article-img{
        margin: 30px 0 50px 0;
    }
    
    .article-summary{
        flex-basis: 100%;
        margin: 10px 0;
    }

    .container-information-book{
        flex-basis: 100%;
        margin: 10px 0 0 0;
    }

    .others-books{
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .list-categories li {
        flex-basis: 80%;
        margin: 10px;
    }

    .others-books .slider{
        max-width: 100%;
    }
}

@media screen and (max-width: 480px){
    .pagename {
        font-size: 18px;
    } 

    .header-main > h1{
        font-size: 30px;
    }

    footer > p{
        font-size: 15px;
    }
}


