@import url(../../fonts/fonts.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Leckerli One', cursive;
    color: #1f1f1f;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header:not(.header-main){
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f1f1f;
    /* background: #FFDAB9; */
    color: #ffffff;
    /* box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.header-main{
    background: url(../img/index.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    /* flex-direction: row; */
}

.header-main h1, .header-main .logo {
    font-size: 40px;
    animation-name: header;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.header-main .logo {
    margin-left: 20px;
    max-width: 70px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

/* .header-main .logo:hover {
    transform: scale(1.2);
} */

.container-logo{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    flex-direction: row-reverse;
}

.container-logo img{
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    30% {
        transform: rotate(45deg)
    }

    50% {
        transform: rotate(-45deg)
    }

    100%{
        transform: rotate(0deg)
    }
}

.pagename {
    margin-left: 20px;
    font-size: 20px;
    position: relative;
    /* padding-left: 10px;; */
    padding: .3rem 0;
    overflow: hidden;
}

.pagename::before{
    content: '';
    background-color: #4169E1;
    height: 3px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    transform: translateX(-210px);
    transition: transform 2s;
    /* z-index: -1; */
    animation: title-bottom 4s infinite alternate-reverse;
}

@keyframes title-bottom{
    from {
        transform: translateX(-210px);
    }

    to{
        transform: translateX(210px);
    }
}

/* .pagename:hover::before{
    transform: translateX(210px);
} */

.container-logo > .logo {
    margin-left: 20px;
    max-width: 40px;
    width: 100%;
}

@keyframes header{
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: scale(1.1) rotate(359deg);
        opacity: 1;
    }

    100%{
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}

.button-down{
   position: absolute;
    top: 0;
    right: 0;
    left:0;
    margin: 0 auto; 
    width: 35px;
    background-color: transparent;
    border: none;
    outline: none;
}

.arrow-down{
    /* border: solid #000000; */
    /* border-width: 0 4px 4px 0; */
    /* margin-left: 10px; */
    /* animation: beat 2s infinite; */
    /* transform: rotate(45deg); */

    display: inline-block;
    /* background: url(../img/icons/arrow.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center; */
    /* width: 35px; */
    height: 35px;
    
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0%{
        transform: translateY(-500%)  rotate(0deg);
    }

    50%{
        transform: translateY(-300%)  rotate(0deg);
    }

    100%{
        transform: translateY(-500%)  rotate(0deg);
    }
}

.menu-navigation{
    margin: 10px;
    font-weight: bold;
}

.menu-navigation ul li{
    list-style-type: none;
    margin: 0 20px;
    position: relative;
    padding: 1rem 0;
    overflow: hidden;
}

.menu-navigation ul li a {
    /* color: #ffffff; */
    /* color: #212429; */

    padding: .5rem 0;
    position: relative;
    color: #ffffff;
    transition: color .3s;
    cursor: pointer;
    text-decoration: none;
}

.menu-navigation ul li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #4169E1;
    transition: transform .3s;
    bottom: 0px;
    transform: translateX(-110%);
}

.menu-navigation a:hover{
    color: #4169E1;
}

.menu-navigation a:hover::before{
    transform: translateX(0);
}

.select{
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.select > option{
    color: #000000;
    border: none;
    outline: none;
    background: #ced2d3;
    cursor: pointer;
}

.container{ 
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    flex-wrap: wrap;
} 

.categories-navigation{
    margin: 50px 10px 10px 80px;
    max-width: 300px;
    background-color: #ffffff;
    padding: 20px 5px;
}

.subtitle, .section-author > h3{
    text-align: center;
    margin: 30px 0;
    position: relative;
    
    /* animation: underlinesTitles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse; */
}

/* .subtitle::before{
    content: '';
    position: absolute;
    animation: underlinesTitles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    width: 100%;
    background-color: #EC7063;
    height: 4px;
    bottom: 0px;
    transform: translateX(-110%);
} */


/* @keyframes underlinesTitles {
    0%{
        color: #D2691E;
    } */
/* } */

.list-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.list-categories li {
    list-style-type: none;
    list-style-type: none;
    margin: 10px 0;
    flex-basis: 90%;
}

.list-categories li:nth-child(even) {
    background-color: #212429;
}

.list-categories li:nth-child(odd) {
    background-color: #2c2f34;
}

.list-categories li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    padding: 10px 0;
}

.list-categories li a:hover{
    color: #4169E1;
}

.list-categories li.selected{
    background-color: #FFA07A;
}

.all-categories{
    position: relative;
    margin: auto;
    width: 80%;
}

.tags-category{
    list-style-type: none;
}

.tags-category:nth-child(even) a{
    background-color: #ffecd2;
}

.tags-category:nth-child(odd) a{
    background-color: #ff9a9e;
}

.card.category{
    cursor: pointer;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;

    font-size: 18px;
    text-decoration: none;
    color: #000000;
}

.all-items{
    margin: auto;
    width: 65%;
}

.all-items-index{
    margin: auto;
    width: 90%;
}

.container-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px 5px 50px 5px;
}

.tags-category:nth-child(even) a{
    animation-name: colors;
    animation-duration: 2s;
    /* animation-fill-mode: both; */
    /* animation-delay: 1.5s; */
    /* animation-iteration-count: 2;
    animation-direction: alternate-reverse; */
}

.tags-category:nth-child(odd) a{
    animation-name: colorsOdd;
    animation-duration: 2s;
    /* animation-delay: 1.5s; */
    /* animation-iteration-count: 2;
    animation-direction: alternate-reverse; */
}

@keyframes colors {
    0% {
        /* transform: scale(1); */
        /* transform: translateY(10px); */
        transform: rotate(0deg);
    }
    80% {
        /* transform: scale(1.1); */
        /* transform: translateY(-10px); */
        transform: rotate(360deg);
    }

    100%{
        transform: rotate(360deg);
    }
    /* 60% { */
        /* transform: translateY(10px); */
        /* transform: rotate(-359deg); */
    /* } */

}

@keyframes colorsOdd {
    0% {
        /* transform: scale(1); */
        /* transform: translateY(-10px); */
        transform: rotate(0deg);
    }
    80% {
        /* transform: scale(1.1); */
        /* transform: translateY(10px); */
        transform: rotate(-360deg);
    }
    100% {
        /* transform: translateY(-10px); */
        transform: rotate(-360deg);
    }
 }

.card{
    
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    border-radius: 0 0 10px 10px;
    margin: 10px 10px 50px 10px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse; 
    max-width: 210px;
    min-height: 350px;
}

.card-content > h3 {
    margin: 5px 10px;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.card-content > h4 {
    margin: 10px 10px 0 10px;
    padding: 0;
    font-size: .9rem;
    font-weight: normal;
    color: #EC7063;
}

.card-content > img {
    object-fit: cover; 
    object-position: center;
    max-width: 210px;
    height: 320px;
}

.card-content .card-tags{
    background-color: #f2f2f2;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: .8rem;
    align-self: flex-start;
    display: inline-block;
}

.book-tag{
    background-color: #f2f2f2;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    margin: 10px 10px 10px 0;
}

.article-book{
    width: 90%;
    margin: 50px auto 50px auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.article-book > h1 {
    text-align: center;
}

.article-information{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 30px 0;
}

.article-img{
    margin-bottom: 30px;
    margin-right: 40px;
    max-width: 400px; 
    max-height: 400px;
    /* object-fit: cover; */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.article-summary{
    flex-basis: 50%;
    margin-left: 30px;
}

.btn-show{
    
    /* text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
    color: #EC7063;
    border: 2px solid #EC7063;
    margin-top: 10px;
    user-select: none;
    transition: color .2s, border-color .2s; */

    /* font-family: inherit;
    background-color: transparent;
    border-radius: 0px;
    outline: none; */
    /* border: 2px solid #EC7063; */
    /* color: #EC7063; */
    /* display: inline-block; */
    /* cursor: pointer; */
    /* background-color: transparent; */
    /* display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    outline: none;
    transition: color .2s, border-color .2s; */
    border: none;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    /* margin: .3rem .3rem 1rem 0; */
    letter-spacing: 1px;
    padding: 1rem 2rem;
    font-family: inherit;
    color: #000000;
    /* border-radius: 15px; */
    /* border: 2px solid #000000; */
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    background-color: rgba(39%, 48%, 54%, .15);
    transition: background-color .5s;
    user-select: none;
    font-weight: bold;
    background-color: #00BFFF  ;
}

.btn-show::before {
    content: '';
    pointer-events: none;
    opacity: .6;
    background:
        radial-gradient(12px at 20% 35% ,  #ffffff 9px, rgba(0, 0, 0, 0) 10px),
        radial-gradient(12px at 75% 44% , #ffffff 9px, rgba(0, 0, 0, 0) 10px),
        radial-gradient(12px at 46% 52% , #ffffff 9px, rgba(0, 0, 0, 0) 10px),
        radial-gradient(12px at 29% 10% ,  #ffffff 9px, rgba(0, 0, 0, 0) 10px);
    width: 100%;
    height: 400%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 5s linear infinite both;
}
  
@keyframes bubbles {
    from {
        transform: translate(0, 33.33%);
    }
    to {
        transform: translate(0, -66.666%);
    }
}

.btn-show:hover{
    background-color: #4169E1;
    clip-path: polygon(50% 12%, 100% 0, 100% 100%, 50% 89%, 0 100%, 0 0);
}

.bottom, .top {
    background: url(../img/icons/arrow.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    /* animation: beat 2s infinite; */
}

.top {
    transform: rotate(180deg);

}

/* .arrow{
    transition: border-color .2s;
    border: solid #EC7063;
    margin-left: 10px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
} */

/* .arrow.up{
    transform: rotate(-135deg);
    margin-top: 3px;
}

.arrow.down{
    margin-bottom: 3px;
    transform: rotate(45deg);
} */

.container-information-book{
    flex-basis: 300px;
    margin: 0 0px 0 40px;
}


.section-author > h3{
    text-align: center;
    margin: 30px 0;
    font-size: 25px;
    padding-top: 30px;
    border-top: 1px solid #ddd; 
}

.container-authorBook{
    width: 90% ;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.author-img {
    /* clip-path: circle(44% at 50% 40%); */
    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */

    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

    /* clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%); */
    margin: 5px 0 15px 0;

    /* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
}

.author-bibliography{
    margin-left: 50px;
}

.author-bibliography > h4 {
    margin-bottom: 10px;
}


.details-book{
    margin-bottom: 15px;
}

.list-details-book{
    list-style-type: none;
}

.list-details-book > li, .cites-book > blockquote{
    border-top: 2px solid #2c2f34;
    padding: 5px 0;
    margin: 5px 0;
}

.cites-book{
    padding-top: 15px;
}

.cites-book > blockquote p{
    margin: 0;
}

.article-description{
    display: none;
}

.article-description.open{
    display: block;
    margin: 10px auto;
    max-width: 1200px;
}

.others-books{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 95%;
    overflow: hidden;
    margin: 0 auto 50px auto;
}

.others-books > h2{
    margin: 0 10px;
}

.others-books .slider{
    margin-top: 20px;
    position: relative;
    display: flex;
    max-width: 80%;
    min-width: 300px;
    overflow: hidden;
    overflow-x: scroll;
}

.slider:after{
    content: '';
    flex: 0 0 5px;
}

footer{
    min-height: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: #ffffff;
    position: relative;
    text-align: center;
}

footer h2 {
    font-weight: normal;
    font-size: 16px;
}

footer p {
    margin: 3px 0;
}

.icon-ClipPath{
    position: absolute;
    top: 0; 
    right: 0;
    margin: 20px 0;
    width: 50px;
    height: 50px;
    /* fill: #ffffff; */
    background-color: white;
    color: #000000;
    text-align: center;
    margin-right: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 73% 48%, 73% 81%, 48% 48%, 0 48%);
    /* cursor: pointer; */
}

.author{
    color: #EC7063;
}

.author:hover{
    color: #4169E1;
}

@media screen and (max-width: 1200px){
    .list-categories li {
        flex-basis: 40%;
        margin: 10px;
    }

    .categories-navigation{
        margin: auto;
        max-width: 100%;
    }

    .all-items{
        margin: auto;
        width: 90%;
    }

    .article-information{
        margin: 0;
        flex-wrap: wrap;
    }
    
    .article-img{
        margin: 10px 0 50px 0;
        min-width: 185px;
    }
    
    .article-summary{
        flex-basis: 100%;
        margin: 10px 0;
    }

    .container-information-book{
        flex-basis: 100%;
        margin: 10px 0 0 0;
    }

    .others-books{
        width: 100%;
    }

    .card-content {
        
        max-width: 200px;
        min-height: 320px;
    }

    .card-content > img {
        width: 200px;
        height: 290px;
    }
    
}

@media screen and (max-width: 768px){
    .list-categories li {
        flex-basis: 80%;
        margin: 10px;
    }

    .pagename {
        font-size: 16px;
    }

    .container-authorBook{
        width: 100% ;
        /* margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center; */
        flex-direction: column;
        align-items: center;
    }

    .author-bibliography{
        margin: 20px 0;
    }

    .others-books .slider{
        max-width: 100%;
    }

    .icon-ClipPath {
        margin: 10px 5px;
    }

    footer{
        padding: 25px 10px;
    }
}

@media screen and (max-width: 480px){
    footer > p{
        font-size: 15px;
    }

    .header-main > h1{
        font-size: 30px;
    }

    .header-main {
        flex-direction: column;
    }

    .container-logo{
        flex-wrap: nowrap;
    }

    .header-main .logo {
        max-width: 50px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 10px;
    }

    .card-content {
        max-width: 180px;
        min-height: 300px;
    }

    .card-content > img {
        width: 180px;
        height: 270px;
    }
}


